@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Text+Me+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dbe4e6;
}

.clock {
  width: 520px;
  padding: 40px;
  background-color: #f3f3f3;
  box-shadow: 10px 10px 10px #808080;
  border-radius: 8px;

  & .display {
    padding: 40px 10px 10px;
    border-radius: 6px;
    background-color: #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset, 0 1px 1px #fafafa;
    position: relative;

    & .weekdays {

      font-family: "Text Me One", sans-serif;
      font-style: normal;
      font-size: 18px;
      font-weight: 600;
      width: 100%;
      top: 10px;
      left: 0;
      text-align: center;

      & span {
        padding: 0 10px;
        opacity: 0.2;
      }
      & span.active {
        opacity: 1;
      }
    }

    & .timeDisplay {
      display: flex;
      justify-content: center;

      & .time {

        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        display: flex;
        justify-content: center;
        letter-spacing: 3px;

        & .dot {
          animation: piscar 1s linear infinite;
        }
      }

      & .format {
        font-size: 30px;
        margin-top: 32px;
        margin-left: 10px;
        font-family: "Text Me One", sans-serif;
      }
    }
  }
}

@keyframes piscar {
  25% {
    opacity: 0;
  }
}
